<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"front-page-container","layout":{"type":"constrained","contentSize":"1440px"}} -->
<div class="wp-block-group front-page-container">
    <!-- wp:cover {"url":"https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9eec4f78-c19c-4850-99fc-bfb77f1ef066","id":1,"dimRatio":0,"minHeight":309,"minHeightUnit":"px","className":"image-1","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-cover image-1" style="padding-top:0;padding-bottom:0;min-height:309px">
        <span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span>
        <img class="wp-block-cover__image-background wp-image-1" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9eec4f78-c19c-4850-99fc-bfb77f1ef066" data-object-fit="cover"/>
        <div class="wp-block-cover__inner-container">
        </div>
    </div>
    <!-- /wp:cover -->

    <!-- wp:heading {"level":1,"style":{"typography":{"fontFamily":"var:preset|font-family|racing-sans","fontSize":"96px"}},"className":"home-page-text"} -->
    <h1 class="wp-block-heading home-page-text" style="font-family:var(--wp--preset--font-family--racing-sans);font-size:96px">Home Page</h1>
    <!-- /wp:heading -->
    
    <!-- wp:image {"id":2,"width":405,"height":213,"sizeSlug":"full","linkDestination":"none","className":"image-3"} -->
    <figure class="wp-block-image size-full is-resized image-3"><img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/db651d20-b4da-40ca-aa17-9098703301f7" alt="" class="wp-image-2" width="405" height="213"/></figure>
    <!-- /wp:image -->

    <!-- wp:image {"id":3,"width":550,"height":393,"sizeSlug":"full","linkDestination":"none","style":{"border":{"radius":"40px"}},"className":"image-2"} -->
    <figure class="wp-block-image size-full is-resized has-custom-border image-2"><img src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/c77f94a0-9f24-49c7-a555-79f5b2492bb4" alt="" class="wp-image-3" style="border-radius:40px" width="550" height="393"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:group {"className":"content-editable-area","layout":{"type":"constrained"}} -->
    <div class="wp-block-group content-editable-area">
        <!-- wp:paragraph {"style":{"typography":{"fontFamily":"var:preset|font-family|adamina","fontSize":"36px"}},"className":"description-text"} -->
        <p class="description-text" style="font-family:var(--wp--preset--font-family--adamina);font-size:36px">This is a demo website to test transferring UI from Figma to Wordpress. This website contains elements including text, image and button.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"start"},"style":{"spacing":{"margin":{"top":"30px"}}}} -->
        <div class="wp-block-buttons" style="margin-top:30px">
            <!-- wp:button {"backgroundColor":"secondary","textColor":"text","style":{"typography":{"fontSize":"40px","fontFamily":"var:preset|font-family|fredoka"},"border":{"radius":"50px"},"spacing":{"padding":{"top":"10px","right":"20px","bottom":"10px","left":"20px"}}},"className":"ok-button"} -->
            <div class="wp-block-button ok-button" style="font-size:40px;font-family:var(--wp--preset--font-family--fredoka)"><a class="wp-block-button__link has-text-color has-secondary-background-color has-text-color has-background wp-element-button" style="border-radius:50px;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px">OK</a></div>
            <!-- /wp:button -->

            <!-- wp:button {"backgroundColor":"accent","textColor":"text","style":{"typography":{"fontSize":"40px","fontFamily":"var:preset|font-family|fredoka"},"border":{"radius":"50px"},"spacing":{"padding":{"top":"10px","right":"20px","bottom":"10px","left":"20px"}}},"className":"quit-button"} -->
            <div class="wp-block-button quit-button" style="font-size:40px;font-family:var(--wp--preset--font-family--fredoka)"><a class="wp-block-button__link has-text-color has-accent-background-color has-text-color has-background wp-element-button" style="border-radius:50px;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px">QUIT</a></div>
            <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->